h1, h2, h3{
    font-family: 'Chonburi', cursive;
}

p, nav, aside {
	font-family: 'Open Sans', sans-serif; 
}

footer{
	font-weight: bolder;
	font-family: Georgia, serif;
	font-size: small;
}

p {
	line-height: 1.6;
}

* {
	border: 1px;

	padding: 2px;

}



.container {
	margin: 0 auto;
	width: 90%;
	max-width: 960px;

	display: grid;
	grid-template-columns: 218px 1fr 200px;

}

header{
	grid-column: 1/2;
}


aside {
	grid-column: 2/4;
	align-self: end;
	font-size: small;
	line-height: 1.0;
}

img {
	grid-column: 1/2;
}

main{
	grid-column: 1/4;
}

footer{
	grid-column: 1/2;
}

nav{
	grid-column: 2/4;
}

section{
	display: block;
	grid-column: 1/4;
}



nav ul{
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
}

nav li{
	margin-left: 20px;
}

nav a{
	text-decoration: none;
}


aside ul{
	list-style-type: none;
	font-style: italic;
	margin-bottom: 5px;
}



.is-current {
		background-color: black;
 		color: white;
}



header a{
	display: block;
	position: relative;
}

header h1{
	transform: rotate(-90deg);
	position: absolute;
	z-index: 100;
	top:87px;
	left:-110px;
	font-size: 27px;
	color: rgb(79, 44, 50);
}

header h2{
	transform: rotate(-90deg);
	position: absolute;
	z-index: 100;
	top:87px;
	left:-114px;
	font-size: 27px;
	color: rgb(79, 44, 50);
}

header h3{
	transform: rotate(-90deg);
	position: absolute;
	z-index: 100;
	top:55px;
	left:-136px;
	font-size: 27px;
	color: rgb(79, 44, 50);
}

aside {
	background-color: rgb(145, 147, 150, .3);
}

section {
	margin-bottom: 30px;
	background-color: rgb(145, 147, 150, .3);
}



/* **********************************
	Typography

	I changed the type font to Chonburi and Open Sans so the heading and paragraphs have different type faces. I chose these fonts 
	because it was more suitable for sharing information. The headers are a bolder typeface where as the paragraphes are a slimmer 
	typeface.

	Readability 

	Added a color to the names and added background to the aside and paragraph to enforce repition. Padding between the sections
	to increase separation and readability. Increased line height in the paragraph so its easier to read. 

	********************************** */









